@import 'codemirror/lib/codemirror.css';
/* @import 'codemirror/theme/maerial.css'; */

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
