:root {
  --reach-tooltip: 1;
}
body {
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
textarea {
  font-family: inherit;
}
.innerZoomElementWrapper {
  font-family: lato, sans-serif;
}
